<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Nuts</name>
	<description>Nutrient Tracker and Calculator</description>
	<author email="rickyw@bigfoot.com" href="http://phonegap.com">Richard Wilcox</author>
	<preference name="phonegap-version" value="cli-6.5.0" />
	<icon src="icon.png" />
</widget>
